[Desktop Entry]
Version=1.0
Type=Application
Name=Telegram Desktop
Comment=Official desktop version of Telegram messaging app
Exec=/opt/Telegram/Telegram
Icon=telegram
Path=
Terminal=false
StartupNotify=false
